.container {
    width: 250px;
    min-height: 100px;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.timeView {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}

.btn {
    min-width: 70px;
    min-height: 40px;
}